[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = Sean Wheeler
	email = swsamwa@live.com
[credential]
	validate = false
	writelog = true
	helper = wincred
	interactive = auto
    useHttpPath = false
[credential "https://github.com"]
	username = sdwheeler
[color]
	ui = true
[color "status"]
	changed = magenta bold
	untracked = red bold
	added = yellow bold
	unmerged = yellow bold
[color "branch"]
	remote = magenta bold
	upstream = blue bold
	current = green bold
[core]
	excludesfile = ~/.gitignore
	editor = C:/Program Files/Microsoft VS Code/bin/code
	editor = code --wait
	longpaths = true
	fsmonitor = false
[diff]
	tool = bc5
[difftool "bc5"]
	cmd = "\"c:/Program Files/Beyond Compare 5/BComp.exe\" \"$LOCAL\" \"$REMOTE\""
	prompt = false
[merge]
	tool = bc5
[mergetool "bc5"]
	cmd = "\"c:/Program Files/Beyond Compare 5/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""
	prompt = false
[log]
	abbrevCommit = true
	decorate = short
[apply]
	ignoreWhitespace = change
[rerere]
	enabled = true
	autoUpdate = true
[am]
	threeWay = true
[alias]
	lol = log --oneline --graph --decorate --all
[advice]
	useCoreFSMonitorConfig = false
[gui]
	recentrepo = C:/Git/PS-Docs/PowerShell-Docs
[push]
	default = simple
[branch]
	sort = -committerdate
[maintenance]
	repo = C:/Git/AzureDocs/azure-docs-pr
	repo = C:/Git/AzureDocs/learn-pr