# =========================
# Build artifacts
# =========================
**/out
*.nupkg
testResults.xml

# =========================
# Windows OS files
# =========================
# Windows image file caches
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# macOS files
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
